.modalHeader{
    /* height:40px; */
    width:100%;
    background-color: #95afc0;
    text-align:left;
    /* line-height:40px; */
    vertical-align: middle;
}

.panel {
    float: right;
    vertical-align: center;
    height: 100%;
}

.panel::after {
    content: "";
    width: 15px;
    display: inline-block;
}

.icon{
    width:18px
}

.button{
    height: 100%;
    text-align:center;
    vertical-align: middle;
    display:inline-block;
    user-select:none;
    -ms-user-select:none;
    padding:5px 5px 0px 5px;
    cursor: pointer;
    border-radius: 2px;
}



.button:hover{
    background-color: #dfe6e9;
}

.button:active{
    background-color: inherit;
}


.toggle{
    height:100%;
    padding:5px;
    width:85px;
    text-align:center;
    border-right:1px solid black;
    display:inline-block;
    user-select:none;
    -ms-user-select:none;
    cursor: pointer;
    font:18px;
    line-height: 18px;
    font-weight: bold;
}


.active{
    background-color: #dfe6e9;
}


.switch{
    text-align:center;
    vertical-align: middle;
    display:inline-block;
    user-select:none;
    -ms-user-select:none;
    padding:5px 5px 0px 5px;
    cursor: pointer;
    border-radius: 2px;
}



.switch:hover{
    background-color: #dfe6e9;
}

.switch:active{
    background-color: inherit;
}


